
body{
    background-color: aqua;
    
}

/* img{

    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;


    z-index: -1;

} */
img{
    border-radius: 1rem;
}


#userbirthdate{
        text-align: center;
        font-size: medium;
        font-weight: bold;
}

#main-div{
    margin: auto;
    margin-top: 20%;
    /* margin-left: 20%; */
    max-width:40% ;
    width: 50%;
    height: 80%;
    background-color: rgb(158, 255, 93);
    border-radius: 2rem;
    border-style:ridge;
    border-width: 1rem;
    border-color: rgb(255, 153, 0);
    font-size: 1rem;
    font-style: italic;
    padding: 1rem;
 
}

nav{
    width: 100%;
    background-color: rgb(158, 255, 93);
    top: 0;
    left: 0;
    margin-top: 0;
    position: fixed;
    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
}
a{
    text-decoration: none;
}

#outputdiv{
    padding-top: 2rem;
    font-weight: bold;
    color: rgb(74, 10, 250);
   
}

.resultImg{
    max-width: inherit;
}